@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200 !important;
}

::-webkit-input-placeholder {
    color: #A9A9A9 !important;
}

::-moz-placeholder {
    color: #A9A9A9 !important;
}

::-ms-placeholder {
    color: #A9A9A9 !important;
}

::placeholder {
    color: #A9A9A9 !important;
}

.logout_class {
    text-transform: uppercase;
}

.fusion-main-menu li {
    text-transform: uppercase;
}

.wp_vimeo_fieldwrap {
    padding-left: 0
}

.wp_vimeo_input,
.wp_vimeo_input_textarea {
    border: 1px solid #CECECE !important;
    padding: 10px !important;
}

.wp_vimeo_search {
    margin-right: 10px;
}

#wp_vimeo_search {
    height: 40px;
    color: black !important;
}

.wp_vimeo_btn {
    padding: 11px;
    position: relative;
    top: 3px;
    margin-left: 10px;
    border-radius: 3px !important;
}

.wp_vimeo_buttons.wp_vimeo_fieldwrap .wp_vimeo_btn:first-child {
    margin-left: 0;
}

.wp_vimeo_filter.wp_vimeo_col_6.wp_vimeo_fieldwrap:last-child {
    padding-right: 0;
}

#comment-input input,
#comment-textarea textarea,
.avada-select .select2-container .select2-choice,
.avada-select .select2-container .select2-choice2,
.chzn-container .chzn-drop,
.chzn-container-single .chzn-single,
.comment-form-comment textarea,
.fusion-body .avada-select-parent select,
.input-text,
.main-nav-search-form input,
.post-password-form label input[type=password],
.search-page-search-form input,
input.s,
input[type=email],
input[type=number],
input[type=password],
input[type=phone-number],
input[type=text],
select,
textarea {
    color: black !important;
    background-color: #EEE !important;
    font-family: 'Poppins', sans-serif;
}

.wpvimeo_note_title.wp_vimeo_fieldwrap .wp_vimeo_input {
    color: black !important;
}

#wp_vimeo_noteform>div>form>div:nth-child(3)>div.wp_vimeo_note_title.wp_vimeo_fieldwrap>input {
    color: black !important;
}

.wp_vimeo_modal_btns .wp_vimeo_btn {
    height: 40px;
}

.wp_vimeo_modal_btns a.wp_vimeo_btn::first-letter {
    text-transform: uppercase;
}

.wp_vimeo_modal_btns a.wp_vimeo_btn {
    padding-top: 4px;
}

.wp_vimeo_note_title.wp_vimeo_fieldwrap input,
.wp_vimeo_note_date.wp_vimeo_fieldwrap input {
    height: 40px;
    color: black !important;
}

.wp_vimeo_note_date input {
    max-width: 266px;
}

.fusion-menu li span,
.fusion-menu .logout_class a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h2.wp_vimeo_title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    font-size: 3em !important;
    margin-bottom: 25px !important;
}

h3.wp_vimeo_title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    font-size: 2em !important;
}

.wp_vimeo_post_header {
    margin-top: 25px;
    border-top: 1px solid #CECECE;
    padding-top: 25px;
}

.wp_vimeo_content p {
    text-align: left;
}

#wp_vimeo_listing .wp_vimeo_single_post .wp_vimeo_col_12 {
    padding: 0;
}

.wp_vimeo_login_text,
.wp_vimeo_register_text {
    font-size: 1.3em !important;
}

.signup {
    float: right;
}

.wp_vimeo_login_form.wp_vimeo_form button[type="submit"] {
    margin-left: 0;
}

.wp_vimeo_modal .wp_vimeo_modal_view {
    height: auto;
}

h3.wp_vimeo_p_upload_txt,
h3.wp_vimeo_p_note_txt,
h3.wp_vimeo_heading {
    font-size: 2em;
    margin-top: 25px;
}

.wp_vimeo_profile_pic .wp_vimeo_dp_wrap {
    width: 200px;
}

.wp_vimeo_upload_video .wp_vimeo_btn,
.wp_vimeo_noteform .wp_vimeo_btn {
    margin-left: 0;
}

.guide-sidebar-menu .logout_class {
    display: none !important;
}

/* Login button */
.wp_vimeo_btns_wrap {
    padding-left: 0;
}

/* Nav menu avatar */
.logout_class .dropdown img {
    width: 20px;
    height: 20px;
    margin-top: 6px;
}

.logout_class .dropdown .dropdown-content p {
    margin: 0;
}


.wp_vimeo_content iframe {
    width: 100%;
}

.text_center,
.text_center p,
.video_post,
.video_post p {
    text-align: center;
}

.note_post,
.note_post p {
    text-align: left;
}

/* Multi-select */
.chosen-container-multi .chosen-choices {
    padding: 3px 5px;
}

.fusion-logo img {
    height: 50px !important;
    margin-top: 3px;
}

.wp_vimeo_note_title input {
    display: block;
    margin-left: 0;
}

.wp_vimeo_dashboard_note .wp_vimeo_btn {
    margin-right: 15px;
    padding: 5px 10px;
}

.wp_vimeo_dashboard_note button:last-child {
    margin-right: 0;
    padding: 10px;
}

.wp_vimeo_note_content {
    padding-right: 0;
}

button:hover {
    cursor: pointer;
}

.wp_vimeo_cancel_profile_edit {
    margin-left: 0;
}

.wp_vimeo_edit_bio_name {
    display: flex;
    justify-items: start;
}

.wp_vimeo_edit_bio_name input {
    margin-right: 15px;
}

/* Mobile Nav Bar Customizations */
.fusion-flyout-search-toggle {
    display: none !important;
}

.fusion-mobile-nav-item {
	text-transform: uppercase;
}

.fusion-mobile-nav-item .dropdown img {
	width: 20px;
	height: 20px;
	margin-right: 15px;
	margin-top: 3px;
}

.fusion-mobile-nav-item .dropdown {
	margin-top: 10px;
	font-size: 16px;
	color: #88929E;
}

.fusion-mobile-nav-item .dropdown .dropdown-content {
	padding: 0;
}

.fusion-mobile-nav-item .dropdown .dropdown-content p {
	margin: 0;
}

.fusion-mobile-nav-item .dropdown .dropdown-content p a {
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.fusion-main-menu .menu-item {
    display: none;
}

.fusion-main-menu .menu-item.custom_menu_item {
    display: block;
}

.fusion-header-has-flyout-menu .fusion-flyout-mobile-menu-icons {
    margin-top: 20px;
}

.wp_vimeo_profile_info {
    position: relative;
}

.wp_vimeo_profile_videos img {
    margin: 0 auto;
}

.wp_vimeo_profile_videos h5 {
    text-align: center;
}

.wp_vimeo_slides h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.wp_vimeo_slides_dashboard {
    width: 100% !important;
    max-width: 100% !important;
}


.wp_vimeo_slides_dashboard .wp_vimeo_single_slide {
    display: block !important;
}

.wp_vimeo_slides_dashboard .wp_vimeo_single_slide img {
    border-radius: 0;
		width: 320px;
		height: 180px;
}

.wp_vimeo_videoform .wp_vimeo_col_6 {
	padding-right: 0;
}

.wp_vimeo_videoform .wp_vimeo_input, .wp_vimeo_videoform .wp_vimeo_input_textarea {
	padding-right: 0 !important;
	margin: 0 !important;
}

.wp_vimeo_videoform .wp_vimeo_search {
	margin-right: 0;
}

	.wp_vimeo_slides h5.wp_vimeo_slide_title  {
		white-space: nowrap !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
	}

@media (max-width: 768px) {
    .wp_vimeo_profile_pic {
        width: 250px !important;
        margin: 0 auto;
    }

    #video_frame_append {
        width: 100%;
        height: 400px;
    }

    #video_frame_append iframe {
        width: 100% !important;
        height: 400px;
    }

	.wp_vimeo_modal_view {
		width: 95%;
	}

	.wp_vimeo_slides h5.wp_vimeo_slide_title  {
		font-size: 1em !important;
		white-space: nowrap !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
	}
}
