.row.galler_slide {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.row.galler_slide .col-md-4 {
    max-width: 100%;
    width: 100%;
    text-align: center;
}
.galler_slide::before {
    display: none !important;
}
.galler_slide .col-md-4 img {
    height: 180px;
    object-fit: cover;
    width: 100%;
}
#media .carousel-control {
    background: transparent;
    display: flex;
    align-items: center;
    opacity: 1;
    font-size:80px;
    color: #222;
    justify-content: center;
}
.galler_slide .col-md-4 img {
    height: 100px;
    object-fit: cover;
    width: 100%;
    max-width: 115px;
}
.galler_slide .thumbnail {
    margin: 0;
}