#wp_vimeo_gallery > .row:first-child {
    display: flex;
    justify-content: center;
}

#media.carousel.slide.media-carousel {
    padding: 25px;
}

.row.gallery_slide {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.row.gallery_slide .col-md-4 {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.gallery_slide::before {
    display: none !important;
}

.gallery_slide .col-md-4 img {
    height: 200px;
    object-fit: cover;
    width: 200px;
}

#media .carousel-control {
    background: transparent;
    display: flex;
    align-items: center;
    opacity: 1;
    font-size:80px;
    color: #222;
    justify-content: center;
}

.gallery_slide .col-md-4 img {
    height: 100px;
    object-fit: cover;
    width: 100px;
    border-radius: 100px;
}

.gallery_slide .thumbnail {
    margin: 0;
    border: none;
}
#media {
	min-height:500px;
}